{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block css %}

    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="login-form">
            <h2 class="text-center mb-4">ثبت نام حساب کاربری</h2>
            {% if messages %}
                <div class="mb-3">
                </div>
            {% endif %}
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback">
                                {{ field.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100">ثبت نام</button>
            </form>
            <p class="text-center mt-3">
                حساب کاربری دارید؟ <a href="{% url 'accounts:login' %}" class="register-link">وارد شوید</a>
            </p>
        </div>
    </div>
{% endblock %}