<nav class="navbar bg-light p-3 shadow-sm">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- بخش هوم و فرم جستجو -->
        <div class="d-flex align-items-center">
            <a href="{% url 'home:home' %}" class="navbar-brand me-3">
                <i class="bi bi-house" style="font-size: 1.5rem;"></i>
            </a>
            <!-- فرم جستجو -->
            <form class="d-flex" method="GET" action="{% url 'home:search' %}">
                <input class="form-control me-2" type="search" name="q" placeholder="جستجو..." aria-label="Search" style="width: 200px;">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <!-- منوی نویگیشن -->
        <ul class="nav">
            <li class="nav-item">
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'home:product_favourite_list' %}">
                        <i class="bi bi-heart"></i> علاقه‌مندی‌ها
                    </a>
                {% else %}
                    <a class="nav-link" href="{% url 'accounts:login' %}?next={% url 'home:product_favourite_list' %}">
                        <i class="bi bi-heart"></i> علاقه‌مندی‌ها
                    </a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart:cart_view' %}">
                    <i class="bi bi-cart"></i> سبد خرید
                </a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:profile' slug=navbar_profile.slug %}">
                        <i class="bi bi-person"></i> پروفایل
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">
                        <i class="bi bi-box-arrow-right"></i> خروج
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">
                        <i class="bi bi-box-arrow-in-left"></i> ورود
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>