{% extends 'base.html' %}
{% load static %}

{% block css %}
        <link rel="stylesheet" href="{% static 'css/cart.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block body %}

    <div class="cart-container">
        <h1>Your Shopping Cart</h1>
        {% if cart|length > 0 %}
            <table class="cart-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.price }}</td>
                            <td>${{ item.total_price }}</td>
                            <td>
                                <form action="{% url 'cart:cart_remove' item.product.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="remove-btn">Remove</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="cart-total">
                <h3>Total: ${{ total_price }}</h3>
            </div>
            <div class="cart-actions">
                <a href="{% url 'shop:product_list' %}" class="continue-shopping">Continue Shopping</a>
                <a href="{% url 'orders:order_create' %}" class="checkout-btn">Proceed to Checkout</a>
            </div>
        {% else %}
            <p class="empty-cart">سبد خرید شما خالی هست.</p>

        {% endif %}
    </div>

{% endblock %}