{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block title %}پربازدیدترین محصولات{% endblock %}

{% block body %}
    <section class="most-viewed">
        <h2>پربازدیدترین محصولات</h2>
        <div class="product-grid">
            {% for product in most_viewed %}
                <div class="product-card">
                    {% if product.images.first %}
                        <img src="{{ product.images.first.image.url }}" alt="{{ product.title }}" style="max-width: 100%;">
                    {% endif %}
                    <h3>{{ product.title }}</h3>
                 {% with attr=product.attributes_related.first %}
                        {% if attr %}
                            {% if attr.discount_price %}
                                <p class="original-price">{{ attr.price }} تومان</p>
                                <p class="discount-price">{{ attr.discount_price }}٪ تخفیف</p>
                                <p class="total-price">{{ attr.get_total_price }} تومان</p>
                            {% else %}
                                <p class="total-price">{{ attr.get_total_price }} تومان</p>
                            {% endif %}
                        {% elif product.discount_price %}
                            <p class="original-price">{{ product.price }} تومان</p>
                            <p class="discount-price">{{ product.discount_price }}٪ تخفیف</p>
                            <p class="total-price">{{ product.get_total_price }} تومان</p>
                        {% else %}
                            <p class="total-price">{{ product.price }} تومان</p>
                        {% endif %}
                    {% endwith %}
                    <a href="{% url 'home:product_detail' product.id product.slug %}">مشاهده محصول</a>
                </div>
            {% empty %}
                <p>محصولی برای نمایش وجود ندارد.</p>
            {% endfor %}
        </div>
    </section>
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}